---
import { Image } from 'astro:assets';
import { FaReact, FaUsers, FaGitAlt, FaNodeJs, FaAws } from 'react-icons/fa';
import { SiTypescript, SiMongodb, SiGraphql, SiAstro, SiNextdotjs } from 'react-icons/si';
import { BiLogoPostgresql, BiLogoSpringBoot } from "react-icons/bi";
import { contentfulClient } from "../lib/contentful";
import type { Project, AssetCustom } from "../lib/contentful";

import Layout from '../layouts/Layout.astro';

import { ProjectsCarousel } from '@/components/carousel';
import { Card, CardContent, CardTitle } from '@/components/ui/card';
import ResumeButton from '@/components/resume-button';
import { ContactMeButton } from '@/components/contact-me-button';

import Logo from 'public/favicon.svg'
import Profile from 'public/profile.jpeg'

const entries = await contentfulClient.getEntries<Project>({
  content_type: "project",
});

const projects = entries.items.map((item) => {
  const { title, shortDescription, carousselImage, slug, device } = item.fields;

  return { 
		title, 
		shortDescription, 
		carousselImage: (carousselImage as AssetCustom).fields.file.url, 
		slug,
		device,
	};
});

const skills = [
	{
			Icon: FaReact,
			text: "React Native"
	},
	{
			Icon: SiNextdotjs,
			text: "NextJs"
	},
	{
			Icon: SiAstro,
			text: "AstroJs"
	},
	{
			Icon: FaUsers,
			text: "UX/UI Design"
	},
	{
			Icon: BiLogoSpringBoot,
			text: "Spring Boot"
	},
	{
			Icon: SiTypescript,
			text: "TypeScript"
	},
	{
			Icon: SiGraphql,
			text: "GraphQL"
	},
	{
			Icon: FaGitAlt,
			text: "Git"
	},
	{
			Icon: FaNodeJs,
			text: "NodeJs"
	},
	{
			Icon: FaAws,
			text: "AWS Cloud"
	},
	{
			Icon: SiMongodb,
			text: "MongoDB"
	},
	{
			Icon: BiLogoPostgresql,
			text: "PostgreSQL"
	},
];
---

<Layout title="Isaac Fimbres | Home">
	<main class="max-w-5xl mx-auto px-5">
		<section class="flex flex-col justify-center items-center h-screen">
			<Image src={Logo} alt='Logo' width={250} height={250} />
			<h1 class="text-xl sm:text-3xl mt-2 font-medium">Software Development</h1>
		</section>
		<section class="flex flex-col-reverse md:flex-row mb-12">
			<div class="w-full md:w-2/3 text-lg md:pr-6 text-center md:text-left">
				<h2 class="text-3xl font-medium text-brand mb-3">About Me</h2>
				<p>Dynamic Full-Stack Software Engineer with 5+ years of expertise in JavaScript (ES6+), TypeScript, React.js, Next.js, React Native, Node.js, Java and REST/GraphQL API development.</p>
				<p class="my-2">Proven track record architecting and deploying cloud-native microservices and serverless functions using AWS Lambda, EC2, S3, Docker and CI/CD pipelines.</p>
				<p>Skilled in Spring Boot optimizations, performance tuning, automated testing (Jest, Cypress) and agile delivery to accelerate time-to-market and ensure robust, maintainable codebases.</p>
				<div class="flex md:flex-row flex-col gap-y-4 md:gap-x-4 w-full mt-5">
					<ContactMeButton type='primary' client:load />
					<ResumeButton client:load />
				</div>
			</div>
			<div class="w-full md:w-1/3">
				<Image src={Profile} alt='Profile Picture' class="rounded-full aspect-square mx-auto md:ml-auto mb-10 md:mb-0" width={300} height={300} />
			</div>
		</section>
		<section class="flex flex-col mb-12 mt-72 text-center md:text-left">
			<h2 class="text-3xl font-medium text-brand mb-6">My Skills</h2>
			<p class="text-lg">These are some of the skills, technologies and programming languages I use the most.</p>
			<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-7">
				{skills.map(skill => (
					<Card key={skill.text} className="bg-neutral-100 dark:bg-neutral-900 border-2 border-transparent hover:border-brand transition-all">
						<CardContent className="flex flex-col justify-center items-center py-8 text-brand">
							<skill.Icon size={50} />
							<CardTitle className="mt-5 cursor-default font-medium text-xl text-center">{skill.text}</CardTitle>
						</CardContent>
					</Card>
				))}
			</div>
		</section>
		<section class="flex flex-col mb-20 mt-72">
			<h2 class="text-3xl font-medium text-brand mb-6 mx-auto">Projects</h2>
			<ProjectsCarousel projects={projects} client:load />
		</section>
	</main>
</Layout>
